.container {
    display: flex;
    gap: 20px; 
    width: 100%; 
  }
  

app-bottle {
    margin-top: 30px;
    width: 300px;
    flex-shrink: 0;
  }
  
  app-list-medications {
    flex-grow: 1;
  }