<div class="container">
    <div class="card">
      <div class="card-header">
        <h2>Registro</h2>
      </div>
  
      <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
       
        <div class="form-group">
          <label>Nombre</label>
          <input type="text" formControlName="name" placeholder="Tu nombre">
        </div>
        
        <div class="form-group">
          <label>Apellidos</label>
          <input type="text" formControlName="lastname" placeholder="Tus apellidos">
        </div>
  
        
        <div class="form-group">
          <label>Correo electrónico</label>
          <input type="email" formControlName="email" placeholder="tu@email.com">
        </div>
  
        
        <div class="form-group">
          <label>Contraseña</label>
          <input type="password" formControlName="password" placeholder="••••••••">
        </div>
  
        
        <div class="form-group">
          <label>Confirmar Contraseña</label>
          <input type="password" formControlName="confirmPassword" placeholder="••••••••">
        </div>
       
       
        <div class="form-group">
          <label>Número de télefono</label>
          <input type="text" formControlName="phone" placeholder="776 104 1234">
        </div>
  
        
        <button type="submit" class="btn-submit">Registrarse</button>
  
        
        <div class="register-text">
          ¿Ya tienes cuenta?
          <a href="/login" class="link">Inicia sesión</a>
        </div>
      </form>
    </div>
    <img src="assets/bg-register.gif" alt="">
  </div>
  